*
!*/

# track this file: !file
!.gitignore
!*.cpp
!*.hpp
!*.ipp
!*.h
!*.c
!*.tpp
!Makefile

# whitelist everything in ./folder/: !folder/*
!resources/**
!cgi-bin/**
!notes/**
!.vscode/launch.json
!public_html/**
