# Configuration du serveur par défaut pour localhost:8080
server {
    port: 8081;
    host: 127.0.0.1;
    server_name: localhost;
    root: ./public_html;

    # Limitation de la taille du corps du client
    client_body_size: 20000000000; 

    # Pages d'erreur par défaut
    error_page: 404, /error_pages_file/404.html;
    error_page: 413, /errors_pages_file/413.html;

    location / {
        allow_methods: GET, POST, DELETE;
        index: index.html;
    }

    location /uploads {
        allow_methods: POST;
        upload_store: /uploaded_files;
    }

    location /cgi {
        cgi: /usr/bin/php-cgi, .php;
    }

    location /images {
        autoindex: on;
    }
    location /autoindex_tester {
        autoindex: on;
    }
}

# Configuration du serveur secondaire pour localhost:8081
server {
    port: 8081;
    host: 127.0.0.1;
    root: ./public_html;

    location / {
        allow_methods: GET, POST;
        index: welcome.html;
    }

    location /static {
        allow_methods: GET, POST;
        index: welcome.html;
    }

    location /redirection {
        return: http://default.local;
    }

    location /api {
        cgi: /usr/bin/python3, .py;
        allow_methods: GET, POST;
    }

    location /upload {
        allow_methods: POST;
        upload_store: /workspaces/uploaded_files_8081;
    }
}

# Configuration du serveur pour le domaine example.com
server {
    port: 8084;
    host: 127.0.0.1;
    server_name: amanda.com;
    root: ./public_html;
    client_body_size: 1000000; 

    location / {
        allow_methods: GET, POST;
        index: index.html;
    }

    location /docs {
        autoindex: on;
    }

    location /scripts {
        cgi: /bin/bash, .sh;
    }
}

# Serveur par défaut pour 127.0.0.1:8082
server {
    port: 8082;
    host: 127.0.0.1;
    root: ./public_html;

    location / {
        allow_methods: GET, POST;
        index: default8082.html;
    }
}

