ALL THE ATTRIBUTES JISU USES FROM THE REQUST OBJECT:

1. _locPath -> _target_path: The url from the request without the query string
2. _method_enum -> _currentMethod: The method from the request
3. _body: The body from the request
4. _url: The url from the request (with the query string)
5. _method_str: The method from the request as a string
6. _head: The headers from the request (as a map)

# 2. _locQuery -> _target_query: The query string from the request

Parse 

CMD correction:

curl --resolve example.com:8080:127.0.0.1  http://localhost:8080
curl -X POST -H "Content-Type:text/plain" --data "BODY IS HERE : banana" http://localhost:8080/cgi-bin/env.sh
curl -X DELETE http://localhost:8080/upload/form.php

